<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>易考——学院关注</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/college.css}"/>
    <link rel="shortcut icon" th:href="@{/static/img/logo.png}" />
</head>
<body>
<header>
    <nav class="clearfloat">
        <ul>
            <li class="except"><a th:href="@{/index}"><img th:src="@{/static/img/logo.png}"/><span>易考</span></a></li>
            <li><a th:href="@{/index}">首页</a></li>
            <li><a th:href="@{/exam_data}" >考试资料</a></li>
            <li><a th:href="@{/help_center}" >帮辅中心</a></li>
            <li><a th:href="@{/method_share}">方法分享</a></li>
            <li class="except" id="search">
                <form name="form1" th:action="@{/search}" method="get">
                    <input class='searinput' name="key_words" type="search" placeholder="Search"/>
                </form>
            </li>
        </ul>
        <ul class="clearfloat">
            <li><a th:href="@{/data/upload}" ><img th:src="@{/static/img/hup.png}"/>上传文档</a></li>
            <li ><span th:if="${session.login_user} == null"><a th:href="@{/regist}" >注册</a></span></li>
            <li ><span th:if="${session.login_user} == null"><a th:href="@{/login}" >登录</a></span></li>
            <!--改-->
            <li th:if="${session.login_user} != null"><a th:href="@{'/personal/'+${session.login_user.id}}"><img th:src="@{${session.login_user.userImg}}"/></a>
                <ul>
                    <li><a th:href="@{'/personal/'+${session.login_user.id}}">个人中心</a></li>
                    <li><a th:href="@{/logout}">退出登录</a></li>
                </ul>
            </li>
            <!--改-->
        </ul>



        <ul id="snav1" class="clearfloat">
            <li><a th:href="@{/index}"><img th:src="@{/static/img/logo.png}"/><span>易考</span></a></li>
            <li></li>
        </ul>
        <ul id="snav2">
            <li><a th:href="@{/index}">首页</a></li>
            <li><a th:href="@{/exam_data}" >考试资料</a></li>
            <li><a th:href="@{/help_center}" >帮辅中心</a></li>
            <li><a th:href="@{/method_share}">方法分享</a></li>
            <li th:if="${session.login_user} == null"><a th:href="@{/regist}">注册</a></li>
            <li th:if="${session.login_user} == null"><a th:href="@{/login}">登录</a></li>
            <li>
                <form name="form1" action="" method="get">
                    <input class='searinput' type="search" placeholder="Search"/>
                </form>
            </li>

            <!--改-->
            <li th:if="${session.login_user} != null">
                <a>
                    <img th:src="@{/static/img/per.png}"/> </a>
                <a th:href="@{'/personal/'+${session.login_user.id}}">个人中心</a>
                <span><a th:href="@{/logout}">退出</a></span>
            </li>
            <!--改-->
        </ul>
    </nav>
</header>

<main>
    <div id="maintitle">
        <img th:src="@{/static/img/college.png}"/>
    </div>
    <div id="maincontent">
        <div id="contnav">
            <img th:src="@{/static/img/ld.png}"/><span>相关学院</span>
        </div>
        <hr/>
        <div id="cont">
            <ul>
                <li>
                    <ul>
                        <li><a th:href="@{/college_detail/石工院}"><img th:src="@{/static/img/sg.png}"/></a></li>
                        <li><a th:href="@{/college_detail/石工院}">石油与天然气工程学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a th:href="@{/college_detail/地科院}"><img th:src="@{/static/img/dk.png}"/></a></li>
                        <li><a th:href="@{/college_detail/地科院}">地球科学与技术学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li class="except">
                    <ul>
                        <li><a th:href="@{/college_detail/机电院}"><img th:src="@{/static/img/jd.png}"/></a></li>
                        <li><a th:href="@{/college_detail/机电院}">机电工程学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a th:href="@{/college_detail/化工院}"><img th:src="@{/static/img/hg.png}"/></a></li>
                        <li><a th:href="@{/college_detail/化工院}">化学化工学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a th:href="@{/college_detail/理学院}"><img th:src="@{/static/img/lx.png}"/></a></li>
                        <li><a th:href="@{/college_detail/理学院}">理学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li class="except">
                    <ul>
                        <li><a th:href="@{/college_detail/材料院}"><img th:src="@{/static/img/cl.png}"/></a></li>
                        <li><a th:href="@{/college_detail/材料院}">材料科学与工程学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a th:href="@{/college_detail/计科院}"><img th:src="@{/static/img/jk.png}"/></a></li>
                        <li><a th:href="@{/college_detail/计科院}">计算机科学学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a th:href="@{/college_detail/电信院}"><img th:src="@{/static/img/dq.png}"/></a></li>
                        <li><a th:href="@{/college_detail/电信院}">电气信息学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a th:href="@{/college_detail/土建院}"><img th:src="@{/static/img/tm.png}"/></a></li>
                        <li><a th:href="@{/college_detail/土建院}">土木工程与建筑学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li class="except">
                    <ul>
                        <li><a th:href="@{/college_detail/经管院}"><img th:src="@{/static/img/jg.png}"/></a></li>
                        <li><a th:href="@{/college_detail/经管院}">经济管理学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a th:href="@{/college_detail/法学院}"><img th:src="@{/static/img/fx.png}"/></a></li>
                        <li><a th:href="@{/college_detail/法学院}">法学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a th:href="@{/college_detail/外语院}"><img th:src="@{/static/img/wy.png}"/></a></li>
                        <li><a th:href="@{/college_detail/外语院}">外国语学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li class="except">
                    <ul>
                        <li><a th:href="@{/college_detail/体育院}"><img th:src="@{/static/img/ty.png}"/></a></li>
                        <li><a th:href="@{/college_detail/体育院}">体育学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a th:href="@{/college_detail/艺术院}"><img th:src="@{/static/img/ys.png}"/></a></li>
                        <li><a th:href="@{/college_detail/艺术院}">艺术学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li class="except">
                    <ul>
                        <li><a th:href="@{/college_detail/马院}"><img th:src="@{/static/img/pu.png}"/></a></li>
                        <li><a th:href="@{/college_detail/马院}">马克思学院</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
                <li class="except">
                    <ul>
                        <li><a th:href="@{/college_detail/通用}"><img th:src="@{/static/img/pu.png}"/></a></li>
                        <li><a th:href="@{/college_detail/通用}">通用</a></li>
                        <li><button>进入</button></li>
                        <li>103份资料 200人关注</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</main>

<script th:src="@{/static/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/static/js/common.js}"></script>
</body>
</html>