<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>易考——文档详情</title>
    <link type="text/css" rel="stylesheet" href="css/common.css"/>
    <link type="text/css" rel="stylesheet" href="css/sharedetail.css"/>
    <link rel="shortcut icon" href="img/logo.png">
    <style>
        nav>ul:first-child li:nth-child(5) a{
            color: #ec6149;
        }
        #cont{
            text-align: center;
        }
        #pdfContainer{
            width:85%;
            min-height:800px;
        }
        #zan>ul>li:first-child>img{
            vertical-align: -6px;
        }

    </style>
</head>
<body>
<header>
    <nav class="clearfloat">
        <ul>
            <li class="except"><a href="index.html"><img src="img/logo.png"/><span>易考</span></a></li>
            <li><a href="index.html">首页</a></li>
            <li><a href="college.html">考试资料</a></li>
            <li><a href="help.html">帮辅中心</a></li>
            <li><a href="share.html">方法分享</a></li>
            <li class="except" id="search">
                <form name="form1" action="" method="get">
                    <input class='searinput' type="search" placeholder="Search"/>
                </form>
            </li>
        </ul>
        <ul class="clearfloat">
            <li><a href="upload.html" target="_blank"><img src="img/hup.png"/>上传文档</a></li>
            <li><a href="#">注册</a></li>
            <li><a href="#">登录</a></li>

            <!--改-->
            <li><a href="personal.html"><img src="img/per.png"/></a>
                <ul>
                    <li><a href="personal.html">个人中心</a></li>
                    <li>退出登录</li>
                </ul>
            </li>
            <!--改-->
        </ul>
        <ul id="snav1" class="clearfloat">
            <li><a href="index.html"><img src="img/logo.png"/><span>易考</span></a></li>
            <li></li>
        </ul>
        <ul id="snav2">
            <li><a href="index.html">首页</a></li>
            <li><a href="college.html">考试资料</a></li>
            <li><a href="help.html">帮辅中心</a></li>
            <li><a href="share.html">方法分享</a></li>
            <li><a href="#">注册</a></li>
            <li><a href="#">登录</a></li>
            <li>
                <form name="form1" action="" method="get">
                    <input class='searinput' type="search" placeholder="Search"/>
                </form>
            </li>

            <!--改-->
            <li><a href="personal.html"><img src="img/per.png"/> </a><a href="personal.html">个人中心</a><span>退出</span></li>
            <!--改-->
        </ul>
    </nav>
</header>
<main>
    <section id="article">
        <div id="title"><span>概率与统计复习资料</span></div>
        <div id="author">
            <div id="authorimg">
                <img src="img/h1.jpg" alt="作者"/>
            </div>
            <div id="authorinfo">
                <ul class="clearfloat">
                    <li>作者</li>
                    <li>不凡大叔</li>
                </ul>
                <ul class="clearfloat">
                    <li>2017.04.02 12:34</li>
                    <li>阅读&nbsp;234</li>
                    <li>评论&nbsp;7</li>
                    <li>赞&nbsp;78</li>
                    <li>下载&nbsp;78</li>
                </ul>
            </div>
        </div>

        <div id="cont">
            <iframe src="Node.js入门经典.2013.pdf" frameborder="0"  id="pdfContainer"></iframe>
        </div>

        <div id="zan">
            <ul class="clearfloat">
                <li><img src="img/赞.png"/>赞<span>10</span></li>
                <!--<li><img src="img/xiazai.png"/>下载<span>10</span></li>-->
                <li>
                    <ul class="clearfloat">
                        <li>分享到：<img src="img/weixin.png"/></li>
                        <li><img src="img/kj.png"/></li>
                        <li><img src="img/sqq.png"/></li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <section id="mycomment" class="clearfloat">
        <div id="perimg" >
            <img src="img/per.png"/>
        </div>
        <div id="logtip">
            <button>登录</button>后发表评论
        </div>
        <div id="afterlog">
            <form name="common">
                <textarea></textarea>
                <div class="canorfa">
                    <span>取消</span>
                    <input type="submit" value="发表">
                </div>
            </form>
            <div id="comtip">
                <span>写下你的评论...</span>
            </div>
        </div>
    </section>

    <section id="othercomment">
        <div id="comcount">
            <span>6条评论</span>
        </div>
        <ul id="comcont">
            <li>
                <ul>
                    <li>
                        <ul class="clearfloat">
                            <li><img src="img/h2.jpg"/></li>
                            <li>甘球</li>
                            <li>昨天12:23</li>
                        </ul>
                    </li>
                    <li>求作者推荐更多的选课的方法</li>
                    <li>
                        <ul class="clearfloat">
                            <li><img src="img/zan.png"/>7人赞</li>
                            <li><img src="img/pl.png"/>回复</li>
                            <li>
                                <ul>
                                    <li>
                                        <a href="#">不凡大叔</a>：<span>@</span><a href="#">甘球</a><span>没错，你的分享很有价值哦</span>
                                        <p><time>2017.3.25&nbsp;12:23</time><img src="img/pl.png"/><span class="huifuclick">回复</span></p>
                                    </li>
                                    <li>
                                        <a href="#">甘球</a>：<span>@</span><a href="#">不凡大叔</a><span>谢谢</span>
                                        <p><time>2017.3.25&nbsp;12:23</time><img src="img/pl.png"/><span class="huifuclick">回复</span></p>
                                    </li>
                                </ul>
                            </li>
                            <li class="huifuli">
                                <form name="huifu">
                                    <textarea></textarea>
                                    <div class="canorfa">
                                        <span>取消</span>
                                        <input type="submit" value="发表">
                                    </div>
                                </form>
                                <div class="huifutip">
                                    <span>写下你的评论...</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        <ul class="clearfloat">
                            <li><img src="img/h2.jpg"/></li>
                            <li>甘球</li>
                            <li>昨天12:23</li>
                        </ul>
                    </li>
                    <li>求作者推荐更多的选课的方法</li>
                    <li>
                        <ul class="clearfloat">
                            <li><img src="img/zan.png"/>8人赞</li>
                            <li><img src="img/pl.png"/>回复</li>
                            <li>
                                <ul>
                                    <li>
                                        <a href="#">不凡大叔</a>：<span>@</span><a href="#">甘球</a><span>没错，你的分享很有价值哦</span>
                                        <p><time>2017.3.25&nbsp;12:23</time><img src="img/pl.png"/><span class="huifuclick">回复</span></p>
                                    </li>
                                    <li>
                                        <a href="#">甘球</a>：<span>@</span><a href="#">不凡大叔</a><span>谢谢</span>
                                        <p><time>2017.3.25&nbsp;12:23</time><img src="img/pl.png"/><span class="huifuclick">回复</span></p>
                                    </li>
                                </ul>
                            </li>

                            <li class="huifuli">
                                <form name="huifu">
                                    <textarea></textarea>
                                    <div class="canorfa">
                                        <span>取消</span>
                                        <input type="submit" value="发表">
                                    </div>
                                </form>
                                <div class="huifutip">
                                    <span>写下你的评论...</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        <ul class="clearfloat">
                            <li><img src="img/h2.jpg"/></li>
                            <li>甘球</li>
                            <li>昨天12:23</li>
                        </ul>
                    </li>
                    <li>求作者推荐更多的选课的方法</li>
                    <li>
                        <ul class="clearfloat">
                            <li><img src="img/zan.png"/>9人赞</li>
                            <li><img src="img/pl.png"/>回复</li>
                            <li>
                                <ul>
                                    <li>
                                        <a href="#">不凡大叔</a>：<span>@</span><a href="#">甘球</a><span>没错，你的分享很有价值哦</span>
                                        <p><time>2017.3.25&nbsp;12:23</time><img src="img/pl.png"/><span class="huifuclick">回复</span></p>
                                    </li>
                                    <li>
                                        <a href="#">甘球</a>：<span>@</span><a href="#">不凡大叔</a><span>谢谢</span>
                                        <p><time>2017.3.25&nbsp;12:23</time><img src="img/pl.png"/><span class="huifuclick">回复</span></p>
                                    </li>
                                </ul>
                            </li>
                            <li class="huifuli">
                                <form name="huifu">
                                    <textarea></textarea>
                                    <div class="canorfa">
                                        <span>取消</span>
                                        <input type="submit" value="发表">
                                    </div>
                                </form>
                                <div class="huifutip">
                                    <span>写下你的评论...</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        <ul class="clearfloat">
                            <li><img src="img/h2.jpg"/></li>
                            <li>甘球</li>
                            <li>昨天12:23</li>
                        </ul>
                    </li>
                    <li>求作者推荐更多的选课的方法</li>
                    <li>
                        <ul class="clearfloat">
                            <li><img src="img/zan.png"/>6人赞</li>
                            <li><img src="img/pl.png"/>回复</li>
                            <li>
                                <ul>
                                    <li>
                                        <a href="#">不凡大叔</a>：<span>@</span><a href="#">甘球</a><span>没错，你的分享很有价值哦</span>
                                        <p><time>2017.3.25&nbsp;12:23</time><img src="img/pl.png"/><span class="huifuclick">回复</span></p>
                                    </li>
                                    <li>
                                        <a href="#">甘球</a>：<span>@</span><a href="#">不凡大叔</a><span>谢谢</span>
                                        <p><time>2017.3.25&nbsp;12:23</time><img src="img/pl.png"/><span class="huifuclick">回复</span></p>
                                    </li>
                                </ul>
                            </li>
                            <li class="huifuli">
                                <form name="huifu">
                                    <textarea></textarea>
                                    <div class="canorfa">
                                        <span>取消</span>
                                        <input type="submit" value="发表">
                                    </div>
                                </form>
                                <div class="huifutip">
                                    <span>写下你的评论...</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        <ul class="clearfloat">
                            <li><img src="img/h2.jpg"/></li>
                            <li>甘球</li>
                            <li>昨天12:23</li>
                        </ul>
                    </li>
                    <li>求作者推荐更多的选课的方法</li>
                    <li class="huifuli">
                        <ul class="clearfloat">
                            <li><img src="img/zan.png"/>3人赞</li>
                            <li><img src="img/pl.png"/>回复</li>
                            <li>
                                <ul>
                                    <li>
                                        <a href="#">不凡大叔</a>：<span>@</span><a href="#">甘球</a><span>没错，你的分享很有价值哦</span>
                                        <p><time>2017.3.25&nbsp;12:23</time><img src="img/pl.png"/><span class="huifuclick">回复</span></p>
                                    </li>
                                    <li>
                                        <a href="#">甘球</a>：<span>@</span><a href="#">不凡大叔</a><span>谢谢</span>
                                        <p><time>2017.3.25&nbsp;12:23</time><img src="img/pl.png"/><span class="huifuclick">回复</span></p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <form name="huifu">
                                    <textarea></textarea>
                                    <div class="canorfa">
                                        <span>取消</span>
                                        <input type="submit" value="发表">
                                    </div>
                                </form>
                                <div class="huifutip">
                                    <span>写下你的评论...</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        <ul class="clearfloat">
                            <li><img src="img/h2.jpg"/></li>
                            <li>甘球</li>
                            <li>昨天12:23</li>
                        </ul>
                    </li>
                    <li>求作者推荐更多的选课的方法</li>
                    <li>
                        <ul class="clearfloat">
                            <li><img src="img/zan.png"/>2人赞</li>
                            <li><img src="img/pl.png"/>回复</li>
                            <li>
                                <ul>
                                    <li>
                                        <a href="#">不凡大叔</a>：<span>@</span><a href="#">甘球</a><span>没错，你的分享很有价值哦</span>
                                        <p><time>2017.3.25&nbsp;12:23</time><img src="img/pl.png"/><span class="huifuclick">回复</span></p>
                                    </li>
                                    <li>
                                        <a href="#">甘球</a>：<span>@</span><a href="#">不凡大叔</a><span>谢谢</span>
                                        <p><time>2017.3.25&nbsp;12:23</time><img src="img/pl.png"/><span class="huifuclick">回复</span></p>
                                    </li>
                                </ul>
                            </li>
                            <li class="huifuli">
                                <form name="huifu">
                                    <textarea></textarea>
                                    <div class="canorfa">
                                        <span>取消</span>
                                        <input type="submit" value="发表">
                                    </div>
                                </form>
                                <div class="huifutip">
                                    <span>写下你的评论...</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</main>

<script src='js/jquery-3.1.1.min.js'></script>
<script src="js/common.js"></script>
<script src="js/sharedetail.js"></script>
</body>
</html>