@charset "utf-8";
/*div{border: 1px solid red;}*/
	
*{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "楷体","华文行楷","隶书","微软雅黑";
    color: #5d5d5d;
}
.clearfloat:after{
    display: block;    
    content:'';
    clear: both;
    visibility: hidden;
}

body{
    font-size:16px;
    overflow-y:hidden;/*滑动条隐藏*/
    background-color:beige ;
    background-image:url(../img/57122e4e26499.jpg);
   font-weight: bolder;
}
.h1_div{
	text-align: center;
	height:100%;
	line-height: 2;
	text-shadow: 2px 2px 4px burlywood;
}
h1{
	/*font-family: "华文行楷","隶书","微软雅黑";*/
	font-size:45px;
	margin: 4% auto -4%;
	color:#ec4c38;
}
h2{
	/*text-align: center;*/
	
	margin: 30px auto 30px;
	
}
a{
	/*font-family: "华文行楷","隶书","微软雅黑";*/
	/*font-size: 18px;*/
    text-decoration: none;
    cursor: pointer;
    color:gray;
}
/*h2注册登录*/
#log 
{color:#ec4c38;}
#register{
	color:#ec4c38;
}
/*验证码的样式*/
#Code{
    font-family:Arial;
    font-style:italic;
    font-weight:bold;
    /*border:0;*/
    font-size:16px;
    letter-spacing:8px;
    color: #ff5c8e;
    background-color:lightskyblue;
}
/*登录板块*/
#log_div{
	display: block;
}
/*注册板块*/
#register_div{
	display: none;
}
/*输入框样式*/
input[type="text"] ,input[type="submit"],input[type="button"],input[type="password"]{
	font-size:14px;
	padding: 9px;
	display: block;
	width: 60%;
	margin: 0px auto 20px;
	border-radius: 3px;
	border:1px solid #F7DEDE;
}
input [type="checkbox"]{
	display: inline-block;
}
#log_div input:focus{
	/*outline-color:#ec4c38;*/
	outline-color: lightskyblue;
	/*outline: none;*/
}
#register_div input:focus{
	/*outline-color:#ec4c38;*/
	outline-color:#11D684;
	/*outline: none;*/
}
#log_div input:last-of-type{
	color:white;
	font-size: 18px;
	background-color: lightskyblue;
	font-weight: bold;
}
#register_div input:last-of-type{
	color:white;
	font-size: 18px;
	background-color: #11D684;
	font-weight: bold;
}
form span{
	font-size:12px;
	display: inline-block;
	margin-right: 60px;
	padding-bottom: 10px;	
	color:gray;	
	font-weight: 500;
}
#forget_key{
    font-size: 12px;
    font-weight: 500;
    }
#forget_key:hover{
	color:dodgerblue;
}
/*整个登录注册框的显示*/    
.out_border{
	position: relative;
	margin: 4% auto 0;
	text-align: center;
	padding-bottom: 20px;
	/*background-color:#D4D8DB;*/
	background-color:floralwhite;
	/*background-color:#C7D4D6;*/
	border-radius: 5px;
	box-shadow: 2px 2px 2px white inset,
				-2px -2px 2px white  inset;
}
.out_border p{
	display: float;
	position: absolute;
	/*left:110px;*/
	left: 22%;
	font-size: 12px;
	/*top: 175px;*/
	color: #ec4c38;
	margin-top: -18px;
}
#log_div p:first-child{left:30%;}

/*.out_border p:first-of-type{top:125px;}*/
/*.out_border p:nth-of-type(2){top:135px;}*/
/*.out_border p:nth-child(3){top:300px;}*/
/*.out_border p:nth-child(4){top:225px;}*/
/*.out_border p:nth-child(5){top:120px;}*/
/*.out_border p:last-of-type{top:225px;}*/
/*logo图片的显示(绝对定位)*/
.logo img{
	height: 40px;
	display: block;
	position: absolute;
	right:68% ;
	top: 20px;
}
.out_border p
{
	display:none;
}
/*媒体查询*/
[class*="col-"] {
    float: left;
    width: 100%;
}
@media only screen and (min-width: 600px)
	{
		.col-1 {width: 8.33%;}
		.col-2 {width: 16.66%;}
		.col-3 {width: 25%;}
		.col-4 {width:33.33%;}
		.col-5 {width:41.66%;}
		.col-6 {width:50%;}
		.col-7 {width:58.33%;}
		.col-8 {width:66.66%;}
		.col-9 {width:75%;}
		.col-10 {width:83.33%;}
		.col-11 {width:91.66%;}
		.col-12 {width:100%;}
		h1{
			font-size: 50px;
			width: 60px;
			margin: 12% auto;
		}
		.out_border{
			margin:6% auto;
		}
		.logo img{
			height: 60px;
			right: 8%;
			top: 40px;
		}
	}
	